@model List<Order>
@{
    string status = "";
}
<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-table"></i>
                Son Siparişler
            </h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Müşteri</th>
                            <th>Ürün</th>
                            <th>Adet</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="font-weight-bold">
                                    @item.Customer.Name @item.Customer.Surname
                                </td>
                                <td class="text-muted">
                                    @item.Product.Name
                                </td>
                                <td>
                                    @item.Count
                                </td>
                                @switch(@item.Status)
                                {
                                    case "Taşıma Durumunda":
                                        <td>
                                            <label class="badge badge-warning badge-pill">@item.Status</label>
                                        </td>
                                        ;
                                        break;
                                    case "İptal Edildi":
                                        <td>
                                            <label class="badge badge-danger badge-pill">@item.Status</label>
                                        </td>
                                        ;
                                        break;
                                    case "Teslim Edildi":
                                        <td>
                                            <label class="badge badge-success badge-pill">@item.Status</label>
                                        </td>
                                        ;
                                        break;
                                    case "Ödeme Bekleniyor":
                                        <td>
                                            <label class="badge badge-secondary badge-pill">@item.Status</label>
                                        </td>
                                        ;
                                        break;
                                    case "Sipariş Alındı":
                                        <td>
                                            <label class="badge badge-primary badge-pill">@item.Status</label>
                                        </td>
                                        ;
                                        break;
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-calendar-alt"></i>
                Takvim
            </h4>
            <div id="inline-datepicker-example" class="datepicker"></div>
        </div>
    </div>
</div>
