<div class="row grid-margin">
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fa fa-user mr-2"></i>
                            Müşteri Sayısı
                        </p>
                        <h2>@ViewBag.totalCustomerCount</h2>

                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-hourglass-half mr-2"></i>
                            Toplam Kategori
                        </p>
                        <h2>@ViewBag.totalCategoryCount</h2>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
                            Toplam Ürün Sayısı
                        </p>
                        <h2>@ViewBag.totalProductCount</h2>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-check-circle mr-2"></i>
                            Ortalama Bakiye
                        </p>
                        <h2>@ViewBag.avgCustomerBalance</h2>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-chart-line mr-2"></i>
                            Toplam Sipariş Sayısı
                        </p>
                        <h2>@ViewBag.totalOrderCount</h2>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-circle-notch mr-2"></i>
                            Sipariş Edilen Ürün Sayısı
                        </p>
                        <h2>@ViewBag.sumOrderProductCount</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>