@model List<Customer>
@{
    ViewData["Title"] = "ParallelCustomers";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Müşteri Listesi Paralel Metodu </h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Müşteri Adı</th>
                                <th>Şehir</th>
                                <th>Bakie</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name @item.Surname</td>
                                    <td>@item.City</td>
                                    <td>@item.Balance</td>
                                    <td><a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Customer/UpdateCustomer/@item.CustomerId" class="btn btn-outline-primary">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Customer/CreateCustomer" class="btn btn-warning">Ekle</a>

                </div>
            </div>
        </div>
    </div>
</div>


